.ArticlePreview{
    width: 327px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 14px; 
    overflow: hidden; 
    background-color: #FFF; 
}

/* desktop */
@media screen and (min-width: 1440px){
    .ArticlePreview{
        justify-content: flex-start; 
        position: relative; 
        width: 730px; 
        height: 280px; 
        flex-direction: row; 
    }
}