.ArticlePreview{
    width: 327px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 14px; 
    overflow: hidden; 
    background-color: #FFF; 
}