.shareIcon {
    background-image: url("../images/icon-share.svg"); 
    width: 32px; 
    height: 32px; 
    background-size: contain; 
    background-repeat: no-repeat; 
}
.active {
    background-color: #48556A; 
}