.ShareBox{
    display: flex; 
    flex-direction: row; 
}
.ShareBoxMobile {
    margin-left: 20px; 
    width: 175px; 
    justify-content: space-between; 
}
.shareWord {
    font-size: 13px; 
    font-weight: 300; 
    line-height: 20px; 
    letter-spacing: 5px; 
    color: #9DAEC2; 
}

@media screen and (min-width: 1440px){
    .ShareBox{
        position: absolute; 
    }
    .ShareBoxDesktopActive{
        width: 250px; 
        height: 50px; 
        justify-content: space-between; 
        border-radius: 10px; 
        background-color: #48556A; 
        align-items: center; 
        padding-left: 30px; 
        padding-right: 30px; 
        top: -90px; 
        right: -80px; 
    }
    .downTriangleContainer{
        position: relative; 
        left: -52%; 
        bottom: -50%; 
        background-color: red; 
    }
    .downTriangle{
        position: absolute; 
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 15px solid #48556A;
    }
}
